<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Oplossing include/require</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<span id="logo">Oplossing Include/Require</span>
		<ul>
			<li><a href="#">Nieuws</a></li>
			<li><a href="#">Onze Redactie</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</header>
	

	<div class="content">
		<h1>Nieuws</h1>
		
		<article>
			<h1>PHP 8.4 gereleased</h1>
			<p>
				De nieuwste versie van PHP bevat uitbreidingen op oa. mind control-facades, in-browser 3d projecties en de API voor drones.
			</p>
			<p>
				Kernwoorden: new, PHP 8.4
			</p>
		</article>

		<article>
			<h1>Zymphovel framework</h1>
			<p>
				Wordt Zymphovel het nieuwste PHP-framework dat de wereld in een sneltempo zal veroveren?
			</p>
			<p>
				Kernwoorden: frameworks
			</p>
		</article>

		<article>
			<h1>Rasmus Lerdorf vermist</h1>
			<p>
				De geestelijke vader van PHP Rasmus Lerdorf is sinds vorige week vermist nadat hij met zijn privé-jet richting Ibiza vertrok.
			</p>
			<p>
				Kernwoorden: bizar, rasmus lerdorf, feestneus
			</p>
		</article>

	</div>


	<footer>
		<p>Dit is tekst in de footer</p>
	</footer>
</body>
</html>